body {
    min-width: 900px;
}

#header {
  height:72px;                                                                  
  -moz-background-clip:border;                                                  
  -moz-background-origin:padding;                                               
  -moz-background-size:auto auto;                                               
  background-attachment:scroll;                                                 
  background-color:#507AAA;                                                     
  background-position:1px 50%;                                                  
  background-repeat:no-repeat;                                                  
  padding-left:10px;                                                            
  background: #507AAA url("/images/huge-logo.gif") no-repeat 1px;
}

#top-menu {
  background-attachment: scroll;
  background-color: #2C4056;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
  color: #FFFFFF;
  font-size: 0.8em;
  height: 1.8em;
  padding: 2px 2px 0 6px;
}
