<html>
<head>
<%= stylesheet_link_tag "main_header" %>
<title>Back to care</title>
<style>
  #user {
    float: right;
    padding-right: 20px;
    font-weight: bold;
    font-size: 8pt;
  }

  a {
    text-decoration: none;
    list-style-type: none;
    white-space: nowrap;
    color: #FFFFFF;
    font-weight: bold;
    margin-right: 8px;
  }
</style>

<link rel="shortcut icon" href="/images/baobab_logo.png" type="image/x-icon">

</head>

<body>

<div id = 'top-menu'>Lighthouse - Back to care patient tracking system
<%if User.current_user %>                                                       
  <font id ="user">
    Logged in as: <font style="color: #EE8206;"><%=User.current_user.username%></font>&nbsp;|&nbsp;
    <font id="home"><a href="/">Home</a></font>&nbsp;|&nbsp;
    <font id="account"><a href="/">Account</a></font>&nbsp;|&nbsp;
    <font id="logout"><a href="/user/logout">Logout</a></font>
  </font>         
<%end%>                                                                         
</div>                                                                      
<div id = 'header'></div>


</body>
</html>
